@import '../../.cache/wal/gtk.css';

window {
    font-size:1.5em;
    font-family: "JetBrainsMono Nerd Font";

    outline-style: none;
    background-color: rgba(0, 0, 0, 0.8);

}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    color: @window_fg_color; /* text */
    background-color: transparent;
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	outline-style: none;
    border:0px;
}


button:hover, button:focus {
    background-color: transparent;
    color: @popover_fg_color;
    background-size: 50%;
    font-weight: bold;    
    margin: 1em;
    border:0;
}

/* Adjust the size of the icon or content inside the button */
button span {
    font-size: 1em; /* Increase the font size */
}


#lock {
    background-image: image(url("./icons/lock.png"));
}
#lock:hover, #lock:focus {
    background-image: image(url("./icons/lock-hover.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
#logout:hover, #logout:focus {
    background-image: image(url("./icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}
#suspend:hover, #suspend:focus {
    background-image: image(url("./icons/sleep-hover.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}
#shutdown:hover, #shutdown:focus {
    background-image: image(url("./icons/power-hover.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
#reboot:hover, #reboot:focus {
    background-image: image(url("./icons/restart-hover.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
#hibernate:hover, #hibernate:focus {
    background-image: image(url("./icons/hibernate-hover.png"));
}
