

@import '../../../../.cache/wallust/colors.scss';


// transparency
 * {
   background-color: transparent; 
}

//day
.day-text {
  font-family: "Midorima - Personal Use";
  font-size: 100px;
  color: $color15;
}

//date
.date-text {
  font-size: 40px;
  font-family: "Midorima - Personal Use";
  color: $color13;

}





